*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
  background-color: rgba(27, 20, 20, 0.726);
  
}

nav{
    color: aquamarine;
    margin: auto;
    display: flex;
   
}

.nav-menu{
    display: flex;
    gap: 20px;
    list-style-type: none;
   
}

ul a{
    text-decoration: none;
    color: rgb(199, 199, 16);
}

span{
    font-family: 'Inspiration';
    font-size: 2em;
    color: red;
}

#Home{
    background-image: url("../images/land.jpeg");
    background-size: cover;
    height: 100vh;
    text-align: center;
    font-family: 'Inspiration';
    border-radius: 45px;
}

#Home p{
    color: black;
    padding-top: 10%;
    margin: auto;
    font-size: 5em;
    text-align: center;
    font-family: 'Inspiration';
    font-weight: 800;
}

.bounce {
    animation: bounce 3s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-35px);
    }
   
  }

  .btn1{
      margin-top: 50px;
      padding: 20px 20px;
      outline: none;
      color: white;
      background-color: black;
      border-radius: 45px;
      border: none;
      font-weight: 700;
      font-family: 'Inspiration';
      font-size: 3em;
  }

  .abt{
    margin-top: 100px;
    background-color: wheat;
}

#about-image{
    height: 90vh;
    border-radius: 50%;
    border: none;
    outline: none;
    width: 100%;
    background-color: wheat;
    
   
}

.about-pg{
    padding-left: 10px;
    margin:  100px ;
    border-left: 2px solid black;
   
}

.abt h1{
    text-align: center;
    font-family: 'Inspiration';
    font-size: 3em;
    font-weight: 800;
    border-bottom: 2px solid white;
}
